/* CSS Reset */
#element { margin:0; padding:0; font-size:100%; line-height:1; }

...
/* #element rules: */
#element { margin:5px 0 10px; font-size:13px; line-height:1.5; }

/* Universal Styles  */
body {
  margin: 0;
  font-family: Helvetica, sans-serif;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
}

/*  header  */
header {
  display: flex;
  position: fixed;
  z-index: 1;
  margin: 0 auto;
  height: 69px;
  width: 100%;
  align-items: center;
  font-family: Helvetica, sans-serif;
  font-size: 22px;
  border-bottom: 1px solid seashell;
  background-color: black;
}

nav {
  display: flex;
  height: 22px;
  width: 990px;
  justify-content: flex-end;
  text-decoration: none;
  color: seashell;
  /*border: 1px solid white;*/
}

nav a {
  color: seashell;
}

nav a:hover {
  color: DimGray;
}

/*  Logo  */
.logo {
  display: flex;
  height: 50px;
  margin-left: 10px;
  /*border: 1px solid orange;*/
}

.nav {
  display: flex;
  margin-left: 25px;
  /*border: 1px solid red;*/
}

/* Main Content */
.main-content {
  display: flex;
  justify-content: center;
  width: 1232px;
  margin: 0 auto 78px auto;
  padding-top: 70px;
}

/* Mission Section */
.mission {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 700px;
  width: 1200px;
  margin-top: 0 auto;
  border: 1px solid red;
}

.mission-image {
  background-image: url("images/img-mission-background.jpg");
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.mission-text {
  display: flex;
  height: 100px;
  width: 1200px;
  flex-direction: column;
  justify-content: center;
  background-color: black;
}

.mission-text h2 {
  display: flex;
  margin-top: 5px;
  justify-content: center;
}

.mission-text h4 {
  display: flex;
  justify-content: center;
}
