/* Universal Styles  */
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Helvetica, sans-serif;
  font-size: 22px;
  color: seashell;
  background-color: black;
  text-align: center;
  overflow-x: hidden;
}

h2, h4, h5, .tea-images {
  font-family: Helvetica, sans-serif;
  color: seashell;
  text-align: center;
  opacity: 0.9;
}

/*  header  */
header {
  display: flex;
  position: fixed;
  z-index: 1;
  margin: 0 auto;
  height: 69px;
  min-width: 100%;
  align-items: center;
  font-family: Helvetica, sans-serif;
  font-size: 22px;
  border-bottom: 1px solid seashell;
  background-color: black;
  opacity: 0.9;
}

/* Navigation Section */
nav {
  display: flex;
  height: 22px;
  width: 100%;
  justify-content: flex-end;
  margin-right: 10px;
  text-decoration: underline;
  color: seashell;
  /*border: 1px solid white;*/
}

nav a {
  color: seashell;
  opacity: 0.9;
}

nav a:hover {
  color: DimGray;
}

/*  Logo  */
.logo {
  max-height: 50px;
  max-width: 170px;
  margin-left: 10px;
}

.logo img {
  width: 100%;
  opacity: 0.9;
}

.nav {
  display: flex;
  margin-left: 25px;
}

/* Main Content */
.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 100%;
  padding-top: 70px;
  opacity: 0.9;
}

/* Mission Section */
.mission {
  background: url("./images/img-mission-background.jpg") no-repeat center center / cover;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 700px;
  width: 94%;
  margin: 0 auto 10px auto;
  opacity: 0.9;
  background-color: #000;
}

.mission-image {
  width: 100%;
}

.mission-text {
  display: flex;
  min-height: 100px;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
  opacity: 0.9;
}

.mission-text h2 {
  justify-content: center;
  margin-bottom: 10px;
}

.mission-text h4 {
  justify-content: center;
  margin-top: 0px;
}

/* Tea of the Month Section */
.tea-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0.9;
  margin-top: 0px;
  width: 100%;
  padding: 30px 0px 50px;
}
.tea-images-container {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
}
.tea-text {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100%;
  opacity: 0.9;
  margin: 0 auto;
  padding: 0px 0px 5px;
}
.tea-text h2 {
  margin-bottom: 5px;
  margin: 0 auto;
}

.tea-text h4 {
  margin-top: 5px;
  margin-bottom: 5px;
}
.tea-images {
  display: flex;
  flex: 0 0 300px;
  max-height: 300px;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}
.tea-images a{
  color: seashell;
  text-decoration: none;
  
}
.tea-images img{
  display: flex;
  flex-direction: column;
  margin: 15px;
  height: 200px;
  width: 300px;
  opacity: 0.9;
}

.tea-images:hover{
  color: DimGray;
  opacity: 0.5;
}

/* Location Section */
.location-container {
  background-image: url("./images/img-locations-background.jpg");
  background-size: cover;
  background-position: 50% 25%;
  display: flex;
  flex-direction: column;
  min-height: 500px;
  width: 100%;
  justify-content: center;
  opacity: 0.9;
  padding: 20px;
}

.location-text {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25px;
}

.box-container {
  width: 100%;
  min-height: 250px;
  display: flex;
  justify-content: center;
  margin-top: 15px;
  flex-wrap: wrap;
}

.location-box {
  max-height:250px;
  min-width: 300px;
  background-color: black;
  opacity: 1;
  margin: 20px;
  flex: 0 0 300px;
}

/*  Footer Section  */
.footer-text {
  height: 200px;
  margin-top: 0px;
}

.footer-text h2 {
  margin: 10px;
}

/* Copyright Section */
.copyright {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  padding-left: 20px;
  color: seashell;
  opacity: 0.9;
  margin-bottom: 10px;
}

.copyright p {
  font-size: 18px;
  font-family: Helvetica, sans-serif;
  opacity: 0.9;
  margin-top: 0;
}
/* Media Queries */
@media (max-width: 584px) {
  .logo img{
    align-items: center;
  }
  .nav a {
    font-size: 1rem;
  }
  .tea-images-container {
    flex-direction: column;
  }
  .box-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .location-box {
    margin-bottom: 10px;
  }
}

