/* CSS Reset */
#element { margin:0; padding:0; font-size:100%; line-height:1; }

...
/* #element rules: */
#element { margin:5px 0 10px; font-size:13px; line-height:1.5; }

/* Universal Styles  */
body {
  margin: 0;
  font-family: Helvetica, sans-serif;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
}

h2, h4, h5, .tea-images {
  font-family: Helvetica, sans-serif;
  color: seashell;
  text-align: center;
}

/*  header  */
header {
  display: flex;
  position: fixed;
  z-index: 1;
  margin: 0 auto;
  height: 69px;
  width: 100%;
  align-items: center;
  font-family: Helvetica, sans-serif;
  font-size: 22px;
  border-bottom: 1px solid seashell;
  background-color: black;
}

/* Navigation Section */
nav {
  display: flex;
  height: 22px;
  width: 1090px;
  justify-content: flex-end;
  text-decoration: none;
  color: seashell;
  /*border: 1px solid white;*/
}

nav a {
  color: seashell;
}

nav a:hover {
  color: DimGray;
}

/*  Logo  */
.logo {
  display: flex;
  height: 50px;
  margin-left: 10px;
  /*border: 1px solid orange;*/
}

.logo img {
  height: 50px;
  width: 170px;
}

.nav {
  display: flex;
  margin-left: 25px;
  /* border: 1px solid red; */
}

/* Main Content */
.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 1232px;
  margin: 0 auto 78px auto;
  padding-top: 70px;
}

/* Mission Section */
.mission {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 700px;
  width: 1200px;
  margin-top: 0 auto;
}

.mission-image {
  background-image: url("images/img-mission-background.jpg");
  background-position: center center;
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.mission-text {
  display: flex;
  height: 100px;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  background-color: black;
}

.mission-text h2 {
  display: flex;
  margin-top: 5px;
  justify-content: center;
}

.mission-text h4 {
  display: flex;
  justify-content: center;
}

/* Tea of the Month Section */
.tea-container {
  display: flex;
  justify-content: center;
  align-content: space-between;
  width: 1200px;
  flex-wrap: wrap;
  border: 1px solid red;
}

.tea-text {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 1000px;

}
.tea-images img{
  display: flex;
  height: 200px;
  width: 300px;
  margin-bottom: 5px;
  margin-left: 25px;
  margin-right: 26px;
  margin-top: 10px;
  border: 1px solid purple;
}

/* Location Section */
.location-container {
  background-image: url("images/img-locations-background.jpg");
  background-position: 50% 25%;
  display: flex;
  flex-direction: column;
  height: 500px;
  width: 1200px;
  margin-top: 100px;
  border: 1px solid blue;
}
